/* 1200px 1024px. 980px 768px. 480px. */
@media only screen and (max-width: 1200px) {		
	.gcontainer{
		gap: 1.4rem;
	}
	.fcontainer{
		gap: 1.4rem;
	}
	.socialTopDiv{
		gap: 0;
	}

	.logosRight1, .logosRight2{
		gap: .1rem;
	}

	p{
		font-size: 1.7rem;
	}	

	.contentDiffrent{
		width: 19rem;
	}	
}

@media only screen and (max-width: 1024px) {
	html{
		font-size: 60.5%;
	}
	.header{
		gap: .5rem;
	}
	.logosRight1, .logosRight2{
		gap: 0;
	}
}

@media only screen and (max-width: 980px) {
	html{
		/*	for mobile menu overflow*/
		overflow-x: clip;
	}
	body{
		/*	for mobile menu overflow*/
		overflow-x: clip;
	}
	.border{
		margin: 0;
	}
	/*	for mobile menu*/
	.topUp, .header{
		display: none;
	}
	.mobileNavbarDisplay{
		display: block;
		position: sticky;
		top: 0;
		background: #fff;
		z-index: 9999;		
	}
	.mobileNavbar, .scrollNavbarDiv{
		padding-left: .5rem;
		padding-right: .5rem;
		border-top: .1rem solid #adadad47;
	}
	.mobileNavberBtn{
		display: block;
		z-index: 9999;
		color: #000;
		/*border: 2px solid #000;*/
	}
	.mobileNavberBtn .imgDiv{
		width: 5rem;
		height: 5rem;
	}
	.logoDiv .imgDiv{
		margin-top: .5rem;
	}	
	
	.forMobileSearch{
		margin-top: 1rem;
	}
	.searchIcon{
		font-size: 1.6rem;
	}
	.mobileBtnLanguage{
		font-size: 1.6rem;
		color: rgb(128 128 128 / 50%);
		border: .1rem solid rgb(128 128 128 / 80%);
		border-radius: .5rem;
		padding: .5rem;
		margin-left: .5rem;
	}

	.mobileNavbar{
		position: relative;
		justify-content: space-between;
	}

	/*	for humberg items*/
	.mobileNavbarDiv{
		width: 85%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background: #1f2020;
		/*background: #009688;*/

		display: flex;
		flex-direction: column;
		padding-top: 6%;
		/*justify-content: center;
		align-items: center;*/

		transform: translateX(100%);
		transition: all 0.5s linear;

		/*display: none;*/
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		/*z-index: 9999;*/
	}
	.active .mobileNavbarDiv{
		transform: translateX(0%);

		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	.active .mobileNavberBtn .menuOutline{
		display: none;
	}
	.active .mobileNavberBtn .closeOutline{
		display: block;
		position: absolute;
		right: 15%;
	}
	.menu{
		position: absolute;
		right: 685%;
		color: #ddd3d3;
	}
	.close{
		color: #f00;
		font-size: 3.2rem;
		font-weight: bold;
		margin-top: -.5rem;
	}

	/*searchHover mobile*//*searchHover mobile*/
	.searchHover{
		color: #fff;
		background: #EE303B;
		font-size: 1.8rem;
		padding: 1.5rem;
		padding-top: .5rem;
		margin: 0 !important;
		position: sticky;				
		top: 0;
		z-index: 9999;
	}
	.active .searchHover{
		display: block;
	}
	.closeDiv{
		display: flex;
		justify-content: space-between;
	}
	.searchHoverText{
		font-size: 3rem;
		font-family: 'Lato-Regular';
	}
	.searchHoverClose{
		font-size: 5rem;
		font-weight: bold;
		margin-top: -2rem;
		margin-bottom: -2rem;
	}
	.searchHoverInput{
		border: none;	
		border-radius: .5rem;	
		font-weight: bold;
		padding: .8rem;
		padding-right: 50rem;
	}
	.searchHoverInput::placeholder{
		font-size: 1rem;
	}
	.searchHoverIcon{
		font-size: 1rem;
		background: #0883e5;
		color: #fff;
		text-align: center;
		border: .1rem solid #9e9e9ecf;
		border-radius: .3rem;
		padding: .2rem 2.5rem;
		padding-top: .8rem;
	}
	.searchHoverIcon:hover{
		background: #2196F3;
	}
	/*searchHover mobile*//*searchHover mobile*/	
	.mobileNavbarDiv a.linkNav:link, .mobileNavbarDiv a.linkNav:visited{
		color: #ddd3d3;
	}	
	.mobileNavbarDiv .linkNavDiv{		
		border-top: .1rem solid #adadad47;
		padding-top: .5rem;
		padding-bottom: .5rem;
		padding-left: 2%;
	}	
	.mobileNavbarDiv .linkNavDiv:first-child{
		border-top: .2rem solid #c5c4c4;		
	}
	
	.scrollNavbarDiv{		
		overflow-x: auto;
		color: #fff;
		background: #ff0000bd;
		gap: 0;
	}
	.scrollNavbarDiv::-webkit-scrollbar{
		width: 0;
		height: .5rem;
	}
	.scrollNavbarDiv a.linkNav:link, a.linkNav:visited{
		color: #fff;				
		padding: .5rem 1rem;		
	}
	/*	for mobile menu*/

	/****	==================MobileSECTION ===================== ****/
	.border, .first, .middle, .hrFooter, .CategoryPageHead, #back-top{
		display: none;
	}
	.mobile{
		display: block;
		margin: 3vw;		
		/*margin: .5vh;		*/
	}
	.gmcontainer{
		display: grid;
		gap: 1.5rem;		
	}
	.fmcontainer{
		display: flex;
		gap: 1.5rem;
	}

	.overlayHead{
		background: rgb(0 0 0 / 2%);
		text-align: center;
	}


	.underMobile{
		grid-template-columns: repeat(2, 1fr);
		color: red;
	}	

	h5{
		margin: 3rem auto;
		color: #000;
		font-size: 2.5rem;
		position: relative;
		padding-left: 8%;
	}
	h5:before {
	  content: "";
	  display: block;
	  width: 1.5rem;
	  height: 5rem;
	  background: #c52222;
	  left: 0;
	  top: -25%;
	  position: absolute;
	}
	h5:after {
	  content: "";
	  display: block;
	  width: 75%;
	  height: .2rem;
	  background: #c52222;
	  right: 0;
	  top: 50%;
	  position: absolute;
	}
	h5.singleMobileHead:after{
		width: 0;
		height: 0;
	}
	.italic{
		font-style: italic;
	}

	.playHead{
		color: #09B7F1;
	}
	.btnNot{
		font-size: 1.8rem;
		padding-left: 25%;
		cursor: pointer;
	}
	.btnNot:first-child{
		color: #368098;
	}
	.btnNot:nth-child(2){
		color: #B72728;
	}
	.btnNot:last-child{
		color: #658733;
	}

	.photoRight{
		grid-template-columns: repeat(3, 1fr);
		gap: .5rem;
		margin-left: 0;
	}
	.photoRight a{
		margin-bottom: 0;
	}
	.photoRightTwo{
		grid-template-columns: repeat(2, 1fr);
		gap: .5rem;
		margin-top: 1rem;
	}
	.photoRightTwo .imgDiv{
		height: 12rem;
	}

	.CategoryPageNameDiv{
		margin-bottom: 3rem;
	}
	.CategoryPageIcon{
		color: black;
	}
	.CategoryPageName{
		font-size: 1.8rem;		
	}
	.paginateBorder{
		margin: 3rem .5rem;
	}

	h1{
		font-size: 2.8rem;
		font-weight: bold;
	}
	.SingleMain .imgDiv{
		height: 30rem;
	}

	.last p{
		line-height: 1.8rem;		
	}		
}

@media only screen and (max-width: 768px) {
	html{
		font-size: 58.5%;
	}
	
	.menu{
		right: 420%;
	}
	.mobileNavbarDiv .linkNavDiv:first-child{
		margin-top: 1rem;
	}

	.searchHoverInput{
		padding-right: 21.8rem;
	}

	h5:after{
		width: 68%;
	}

	.btnNot{
		padding-left: 22%;
	}

	.photoLeft .imgDiv{
		height: 25rem;
	}
}

@media only screen and (max-width: 480px) {
	html{
		font-size: 56.5%;
	}

	.linkNavDiv{
		padding: 0;
	}
	.scrollNavbarDiv a.linkNav:link, a.linkNav:visited{
		padding: 0 1rem;
	}

	.CategoryPagetourLeft2 .imgDiv{
		width: 9rem;
		height: 5rem;
	}
	.CategoryPageunderHead{
		font-size: 1.9rem;
		margin-top: -.2rem;
	}

	.searchHoverInput{
		padding-right: 11.8rem;
	}

	h5:after{
		width: 55%;
	}

	.btnNot{
		padding-left: 18%;
	}

	.photoLeft .imgDiv{
		height: 15rem;
	}

	.SingleMain .imgDiv{
		height: 22rem;
	}
}

@media only screen and (max-width: 380px) {
	.searchHoverInput{
		padding-right: 5rem;
	}
}
